<!-- Top side of the website -->
<div class="website-top d-flex justify-content-between align-items-center">
    <a href="#" id="logo" style="font-family: amperzand"
        >Amonov Sarvarbek Biologiya Kursi</a
    >
    <i id="top_bars" class="fa fa-2x me-4 fa-window-close"></i>
</div>

<!-- Navigation bar -->
<nav class="topNav">
    <ul>
        <li><a href="/">Bosh sahifa</a></li>
        <li><a href="/news">Qiziqarli ma'lumotlar</a></li>
        <li><a href="/contact">Biz bilan bo'g'lanish</a></li>
    </ul>
    <form id="top_search_form">
        <input type="search" placeholder="Izlash..." class="me-2" />
        <button type="submit" class="btn btn-outline-success btn-sm me-3">
            <i class="fa fa-search"></i>
            Izlash
        </button>
    </form>
</nav>
