<!DOCTYPE html>
<html lang="en">
    <%- include("layouts/header"); -%>
    <body>
        <div id="main-container"><%- include("layouts/navbar"); -%></div>
        <%- include("layouts/footer"); -%>
    </body>
</html>
