<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("layouts/header"); -%>
        <link rel="stylesheet" href="css/index.css" />
    </head>
    <body>
        <div id="main-container">
            <%- include("layouts/navbar"); -%>
            <div class="top-welcome-msg container mt-3">
                <h1 class="text-center">Saytimizga xush kelibsiz</h1>
                <p>
                    Bu vebsayt orqali siz biologiya haqida ko'plab ma'lumotlarga
                    ega bo'lishingiz mumkin. Sayt asosan biologiya fanidan test
                    topshiruvchi abituriyentlar uchun mo'ljallangan. Shuningdek
                    saytda istalgan biologiya faniga qiziquvchilar uchun foydali
                    ma'lumotlar berib boriladi.
                </p>
            </div>

            <!-- Image carousel -->
            <div class="img_container">
                <!-- Full-width images with number text -->
                <div class="mySlides">
                    <div class="numbertext">1 / 4</div>
                    <img src="img/carousel2.jpg" style="width: 100%" />
                </div>

                <div class="mySlides">
                    <div class="numbertext">2 / 4</div>
                    <img src="img/carousel3.jpg" style="width: 100%" />
                </div>

                <div class="mySlides">
                    <div class="numbertext">3 / 4</div>
                    <img src="img/image1.jpg" style="width: 100%" />
                </div>

                <div class="mySlides">
                    <div class="numbertext">4 / 4</div>
                    <img src="img/image2.jpg" style="width: 100%" />
                </div>

                <!-- Next and previous buttons -->
                <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                <a class="next" onclick="plusSlides(1)">&#10095;</a>

                <!-- Image text -->
                <div class="caption-container">
                    <p id="caption"></p>
                </div>

                <!-- Thumbnail images -->
                <div class="rows">
                    <div class="column">
                        <img
                            class="demo cursor"
                            src="img/carousel2.jpg"
                            style="width: 100%"
                            onclick="currentSlide(1)"
                            alt=""
                        />
                    </div>
                    <div class="column">
                        <img
                            class="demo cursor"
                            src="img/carousel3.jpg"
                            style="width: 100%"
                            onclick="currentSlide(2)"
                            alt=""
                        />
                    </div>
                    <div class="column">
                        <img
                            class="demo cursor"
                            src="img/image1.jpg"
                            style="width: 100%"
                            onclick="currentSlide(3)"
                            alt=""
                        />
                    </div>
                    <div class="column">
                        <img
                            class="demo cursor"
                            src="img/image2.jpg"
                            style="width: 100%"
                            onclick="currentSlide(4)"
                            alt=""
                        />
                    </div>
                </div>
            </div>
            <!-- Cards to display books -->

            <div id="cards" class="my-3">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title">
                            5-sinf Biologiya
                            <a
                                href="https://eduportal.uz/Umumiyfiles/darsliklar/5/botanika_5_uzb.pdf"
                                download="true"
                                ><i
                                    class="fa fa-upload"
                                    title="Kitobni yuklab olish"
                                ></i
                            ></a>
                        </h5>
                    </div>
                    <div class="card-body">
                        <img src="img/5-sinf.jpg" class="card-img-top" />
                        <p class="card-text">
                            Darslik: <b>5-sinf Biologiya</b>
                            <br />
                            Nashr qilingan: <b>2020-yil</b>
                        </p>
                        <a
                            href="https://eduportal.uz/Umumiyfiles/darsliklar/5/botanika_5_uzb.pdf"
                            target="_blank"
                            role="button"
                            class="btn btn-outline-success float-end"
                            >Onlayn&nbsp;o'qish</a
                        >
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title">
                            6-sinf Biologiya
                            <a
                                href="https://eduportal.uz/Umumiyfiles/darsliklar/6/botanika_6_uzb.pdf"
                                download="true"
                                ><i
                                    class="fa fa-upload"
                                    title="Kitobni yuklab olish"
                                ></i
                            ></a>
                        </h5>
                    </div>
                    <div class="card-body">
                        <img src="img/6-sinf.jpg" class="card-img-top" />
                        <p class="card-text">
                            Darslik: <b>6-sinf Botanika</b>
                            <br />
                            Nashr qilingan: <b>2020-yil</b>
                        </p>
                        <a
                            href="https://eduportal.uz/Umumiyfiles/darsliklar/6/botanika_6_uzb.pdf"
                            target="_blank"
                            role="button"
                            class="btn btn-outline-success float-end"
                            >Onlayn&nbsp;o'qish</a
                        >
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title">
                            7-sinf Zoologiya
                            <a
                                href="https://eduportal.uz/Umumiyfiles/darsliklar/7/zoologiya_7_uzb.pdf"
                                download="true"
                                ><i
                                    class="fa fa-upload"
                                    title="Kitobni yuklab olish"
                                ></i
                            ></a>
                        </h5>
                    </div>
                    <div class="card-body">
                        <img src="img/7-sinf.jpg" class="card-img-top" />
                        <p class="card-text">
                            Darslik: <b>7-sinf Zoologiya</b>
                            <br />
                            Nashr qilingan: <b>2020-yil</b>
                        </p>
                        <a
                            href="https://eduportal.uz/Umumiyfiles/darsliklar/7/zoologiya_7_uzb.pdf"
                            target="_blank"
                            role="button"
                            class="btn btn-outline-success float-end"
                            >Onlayn&nbsp;o'qish</a
                        >
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title">
                            8-sinf
                            <a
                                href="https://eduportal.uz/Umumiyfiles/darsliklar/8/odam_va_uning_salomatligi_8_uzb.pdf"
                                download="filename"
                                ><i
                                    class="fa fa-upload"
                                    title="Kitobni yuklab olish"
                                ></i
                            ></a>
                        </h5>
                    </div>
                    <div class="card-body">
                        <img src="img/8-sinf.jpg" class="card-img-top" />
                        <p class="card-text">
                            Darslik:
                            <small>8-sinf Odam va uning salomatligi</small>
                            <br />
                            Nashr qilingan: <b>2020-yil</b>
                        </p>
                        <a
                            href="https://eduportal.uz/Umumiyfiles/darsliklar/8/odam_va_uning_salomatligi_8_uzb.pdf"
                            target="_blank"
                            role="button"
                            class="btn btn-outline-success float-end"
                            >Onlayn&nbsp;o'qish</a
                        >
                    </div>
                </div>
            </div>
        </div>
        <%- include('layouts/footer'); -%>
        <script src="javascript/index.js"></script>
    </body>
</html>
