<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("layouts/header"); -%>
        <link rel="stylesheet" href="css/news.css" />
    </head>
    <body>
        <div id="main-container">
            <%- include("layouts/navbar"); -%>
            <div>
                <h2 class="text-center">Qiziqarli ma'lumotlar</h2>
                <p class="container">
                    Biologiya — tirik tabiat haqidagi fanlar majmuasi. Biologiya
                    hayotning barcha koʻrinishlari: tirik organizmlar va tabiiy
                    jamoalarning tuzilishi va funksiyasini, tirik
                    mavjudotlarning kelib chiqishi va tarqalishi, ularning
                    bir-biri va yotirik tabiat bilan oʻzaro bogʻlanishini
                    oʻrganadi. Biologiyaning asosiy vazifasi tiriklikning
                    namoyon boʻlishi qonuniyatlarini oʻrganish, hayotning
                    mohiyatini ochib berish, tirik organizmlarni sistemaga
                    solishdan iborat. Biologiya g'oyat qiziqarli va shu bilan
                    birga murakkab fandir.
                    <a href="https://uz.wikipedia.org/wiki/Biologiya"
                        >Biologiya haqida bu yerdan ko'proq ma'lumot olishingiz
                        mumkin</a
                    ><br />
                    Quyida biologiya haqida qiziqarli faktlar keltirilgan.
                </p>
            </div>

            <div class="container news">
                <div>
                    <img
                        src="https://assets.newatlas.com/dims4/default/b97c9c1/2147483647/strip/true/crop/1925x1283+38+0/resize/1200x800!/quality/90/?url=http%3A%2F%2Fnewatlas-brightspot.s3.amazonaws.com%2F04%2F26%2F3ad0961041dcb660a92da268ea36%2Fdepositphotos-150904088-l-2015.jpg"
                        alt=""
                    />
                    Nega bizning qonimizning rangi qizil ekanligi haqida hech
                    o'ylab ko'rganmisiz? Mana javob - bizning qonimizda mavjud
                    bo'lgan temir porfirin deb nomlangan atomlar halqasini hosil
                    qiladi, bu tuzilish shakli qizil rang hosil qiladi. Porfirin
                    shakli tanangizda kislorod borligidan ta'sirlanadi.
                    <hr />
                </div>
                <div>
                    <img
                        src="https://i1.wp.com/mama-likes.ru/wp-content/uploads/2017/12/http-www-akvanari-ru-images-razmnozhenie_dophins.jpeg"
                        alt="Delfinlar"
                    />

                    Doya delfinlar - o`ta tez suzuvchi jonivor yuz metr masofani
                    o`n soniyada bosib o`tadi. Delfinlar uxlamaydi. Uxlab qolsa
                    cho`kib o`ladi. Olimlar tekshirganda delfin miyasining
                    ikkala yarim bo`lagi ham bir vaqtning o`zida emas balki
                    navbat bilan uxlar, biri uxlaganda, ikkinchisi sergak bo`lar
                    ekan. Delfinlar tirik tug`adi.Delfin bolasi boshi bilan emas
                    dumi bilan tug`ilar ekan. Bunda ona delfin hushtak chalib
                    ikkinchi bir delfinni doyalikka chaqirar ekan. Doya delfin
                    indi tug`ilgan bolaga yordam berish maqsadida uni onasidan
                    ajratib olib suv betiga chiqaradi ilk bor nafas olishga
                    yordam berarkan. Ona delfin ovga ketganda doya delfin bolani
                    qo`riqlaydi bunday yordam 2 hafta davom etgach doya delfin
                    ularni tark etadi.
                    <hr />
                </div>
                <div>
                    <img
                        src="http://a.files.bbci.co.uk/worldservice/live/assets/images/2013/03/07/130307121032_murcielagos_640x360_getty.jpg"
                        alt="Ko'rshapalaklar"
                    />
                    Ko`rshapalaklar- ko`p jihatdan hashorotlarga o`xshaydi.Ular
                    ikki guruhga bo`linadi 1.Mevaxo`rlar 2. Hashorotxo`rlar Eng
                    yiriklari qanotini yozganda 1-5 metrga yetadi
                    .Ko`rshapalaklarning tili o`ta murakkab tuzilgan.22 ta so`z
                    bilan muloqotda bo`iadi.Ko`rshapalak 4 ta turi baliq
                    ovlashga moslashgan Uchi o`tkir va qayrilgan tirnog`I orqali
                    oyoqlarini suvga botirib oladi.Kechqurun suv betini tuman
                    qoplab olganda ko`rshapalak o`zidan signal taratib baliqdan
                    qaytgan aks –sado orqali exolokatsiya yordamida baliqning
                    qay masofada ekanligini bilib oladi.Ko`rshapalakning uchishi
                    uning qulog`iga bog`liq,yana tanani sovutish
                    vazifasinibajaradi.Ko`rshapalakni ko`zi ko`r bo`ladi,tovush
                    orqali harakatlanadi.
                    <hr />
                </div>
                <div>
                    <img
                        src="https://www.guinnessworldrecords.com/Images/blue-whale-tb_tcm25-561207.jpg"
                        alt="Ko'k kit"
                    />
                    Ko‘k kit sut emizuvchilaridan bo‘lib, yer yuzidagi eng katta
                    jonivor hisoblanadi. Uning uzunligi 33 metr, og‘irligi
                    150-170 tonna keladi. Yuragining og‘irligi 600 kilogramm
                    atrofida bo‘ladi. Tilining og‘irligi 2 tonnaga yaqin. Ya’ni
                    o‘rtacha kattalikdagi avtomobilga teng keladi. Tomirlari shu
                    qadar kattaki, ichidan inson yurib o‘tishi mumkin. Ko‘k kit
                    shunchalik katta bo‘lishiga qaramay, u uzunligi 5 sm
                    keladigan kril nomli dengiz planktonlari (qisqichbaqa
                    ko‘rinishidagi mayda jonzotlar) bilan oziqlanadi. Kit bir
                    kunda 40 millionta kril iste’mol qiladi. Bu o‘rtacha 3 yarim
                    tonnadan ortiq ozuqa degani.
                </div>
            </div>
        </div>
        <%- include("layouts/footer"); -%>
    </body>
</html>
