:root {
    --footer-height: 200px;
}
html,
body {
    height: 100%;
    text-align: justify;
}
#main-container {
    min-height: calc(100% - var(--footer-height));
}
.website-top {
    background-color: mintcream;
}

#logo {
    font-size: 2.3rem;
    text-decoration: none;
    color: dodgerblue;
    margin-left: 25px;
}
#logo:hover {
    color: rgb(164, 207, 162);
}
#top_bars {
    color: #000;
}

.topNav {
    background-color: cyan;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1;
}

.topNav ul {
    overflow: hidden;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.topNav ul li {
    float: left;
    padding: 15px 20px;
    font-size: 1.2rem;
}
.topNav ul li a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
}
.topNav ul li:hover {
    background-color: rgba(11, 243, 243, 0.719);
}
/* .topNav ul li:hover a {
    color: aqua;
} */

#top_search_form {
    display: flex;
}
#top_search_form input[type="search"] {
    border-radius: 6px;
    background-color: darkturquoise;
    font-size: 1.1rem;
}

#top_search_form input[type="search"]:focus {
    background-color: #fff;
}

.top-welcome-msg p {
    text-align: justify;
}

/*Website footer*/
footer {
    height: var(--footer-height);
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #000;
    clear: both;
}
footer a {
    color: #fff;
    text-decoration: none;
}

footer div:first-child div a {
    display: block;
    text-decoration: none;
    color: aqua;
    font-size: 1.2rem;
}
@media screen and (max-width: 1200px) {
    .card img {
        height: 200px;
    }
    .card-btns a {
        display: block;
    }
}

@media screen and (max-width: 800px) {
    #logo {
        font-size: 2rem;
    }
    .topNav {
        overflow: hidden;
        display: block;
    }

    #top_search_form {
        float: right;

        margin: 1px 15px 10px auto;
    }
    footer div:last-child {
        display: none;
    }

    #cards .card {
        width: calc(50% - 2 * var(--x_margin));
        margin: 5px;
    }

    .card img {
        height: 300px;
    }
}

@media screen and (max-width: 550px) {
    :root {
        --footer-height: 300px;
    }
    #logo {
        font-size: 1.2rem;
    }
    .topNav {
        display: block;
        position: static;
    }
    .topNav ul li {
        display: block;
        float: none;
        font-size: 1.1rem;
        padding: 5px;
        text-align: center;
    }
    #top_search_form {
        margin: 10px auto;
    }
    footer {
        display: block;
        text-align: center;
    }

    #cards .card {
        float: none;
        width: calc(100% - 150px);
        margin: 15px auto;
    }

    .card img {
        height: 220px;
    }
}

@media screen and (max-width: 350px) {
    #logo {
        font-size: 1rem;
    }
    #cards .card {
        width: calc(100% - 100px);
    }

    .card img {
        height: 200px;
    }
}
